<%- include('./partials/header') %>
<h2 id="welcome-message">Welcome to Flight Station! Use the navigation bar at the top of the page to add a flight or view current flights.</h2>
<%- include('./partials/footer') %>
