body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: azure;
  color: rgb(30, 29, 29);
}

a {
  color: #00B7FF;
}

#nav-bar {
  font-size: 2.5vmin;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7vmin;
}

table {
  margin: 0 auto;
  border-spacing: 2vmin 2vmin;
  font-size: 2vmin;
  text-align: center;
}

#current-flights {
  text-align: center;
  font-size: 3vmin;
}

#new-parent {
  font-size: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#flight-form {
  background-color: rgb(164, 163, 163);
  box-shadow: 5px 2px 5px rgb(58, 56, 56);
  padding: 2vmin 6vmin 6vmin 6vmin;
  margin-top: 10vmin;
  font-size: 2.5vmin;
  border-radius: 5px;
}

#example {
  background-color: rgb(163, 163, 163);
  box-shadow: 5px 2px 5px rgb(58, 56, 56);
  padding: 2vmin 6vmin 6vmin 6vmin;
  margin-top: 5vmin;
  font-size: 2vmin;
  border-radius: 5px;
}

#flight-form > .sections {
  margin-bottom: 10px;
}

#welcome-message {
  margin: 0 auto;
  margin-top: 15vmin;
  width: 80vmin;
  text-align: center;
  font-size: 4vmin;
}

select, input, button {
  font-size: 2.5vmin;
}

button {
  background-color: #00B7FF;
  color: white;
  border: solid 1px black;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #00B7FF;
  border: solid 1px black;
  border-radius: 5px;
}
